---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=3&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<pix_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19906'
      X-Ratelimit-Reset:
      - '1626126883'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":3,"photos":[{"id":4167544,"width":3372,"height":5058,"url":"https://www.pexels.com/photo/hands-with-latex-gloves-holding-a-globe-with-a-face-mask-4167544/","photographer":"Anna
        Shvets","photographer_url":"https://www.pexels.com/@shvetsa","photographer_id":1984515,"avg_color":"#B5B7BD","src":{"original":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg","large2x":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/4167544/pexels-photo-4167544.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":3184423,"width":4004,"height":6000,"url":"https://www.pexels.com/photo/photo-of-people-holding-each-other-s-hands-3184423/","photographer":"fauxels","photographer_url":"https://www.pexels.com/@fauxels","photographer_id":1281351,"avg_color":"#8B7D77","src":{"original":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg","large2x":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large"[...]
