---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=3&query=cityscape%20denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<pix_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19924'
      X-Ratelimit-Reset:
      - '1626126883'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":3,"photos":[{"id":325185,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/view-of-cityscape-325185/","photographer":"Aleksandar
        Pasaric","photographer_url":"https://www.pexels.com/@apasaric","photographer_id":105079,"avg_color":"#CBD0D6","src":{"original":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg","large2x":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":4108480,"width":3910,"height":5865,"url":"https://www.pexels.com/photo/building-with-the-word-hope-4108480/","photographer":"vi
        Media","photographer_url":"https://www.pexels.com/@vi-media-2493671","photographer_id":2493671,"avg_color":"#505358","src":{"original":"https://images.pexels.com/photos/4108480/pexels-photo-4108480.jpeg","large2x":"https://images.pexels.com/photos/4108480/pexels-photo-4108480.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","lar[...]
