---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=12344
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 15 Jun 2021 15:11:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"12344"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ZHYTOMYR
        OBLAST","adminArea3Type":"State","adminArea1":"UA","adminArea1Type":"Country","postalCode":"12344","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"347105499","unknownInput":"","type":"s","latLng":{"lat":50.367778,"lng":28.853333},"displayLatLng":{"lat":50.367778,"lng":28.853333},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=50.367778,28.853333|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-268358426"}]}]}'
  recorded_at: Tue, 15 Jun 2021 15:11:46 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<wx_api_key>&lat=50.367778&lon=28.853333
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":50.3678,"lon":28.8533,"timezone":"Europe/Kiev","timezone_offset":10800,"current":{"dt":1623769906,"sunrise":1623721980,"sunset":1623781035,"temp":294.81,"feels_like":295.09,"pressure":1013,"humidity":79,"dew_point":291.01,"uvi":1.44,"clouds":16,"visibility":10000,"wind_speed":5.34,"wind_deg":357,"wind_gust":7.64,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1623769920,"precipitation":0},{"dt":1623769980,"precipitation":0},{"dt":1623770040,"precipitation":0},{"dt":1623770100,"precipitation":0},{"dt":1623770160,"precipitation":0},{"dt":1623770220,"precipitation":0},{"dt":1623770280,"precipitation":0},{"dt":1623770340,"precipitation":0},{"dt":1623770400,"precipitation":0},{"dt":1623770460,"precipitation":0},{"dt":1623770520,"precipitation":0},{"dt":1623770580,"precipitation":0},{"dt":1623770640,"precipitation":0},{"dt":1623770700,"precipitation":0},{"dt":1623770760,"precipitati[...]
