---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/subjects/denver.json?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"IB 2 0.014 MC 3 0.001 SR 1 0.000 TT 0 0.050"'
    body:
      encoding: UTF-8
      string: '{"key": "/subjects/denver", "name": "denver", "subject_type": "subject",
        "work_count": 20, "works": [{"key": "/works/OL2766605W", "title": "The Regis
        santos", "edition_count": 3, "cover_id": 1694386, "cover_edition_key": "OL708367M",
        "subject": ["Catalogs", "Folk art", "Santos (Art)", "Art collections", "Regis
        University (Denver, Colo.)", "Ethnic studies", "Exhibition catalogues and
        specific collections", "History Of Art / Art & Design Styles", "Museum, historic
        sites, gallery & art guides", "Hispanic Art", "Colorado", "Permanent Collection
        Catalogs", "Art", "Art & Art Instruction", "Collections, Catalogs, Exhibitions
        - General", "Folk & Outsider Art", "Criticism", "Subjects & Themes - General",
        "New Mexico", "Denver"], "ia_collection": [], "lendinglibrary": false, "printdisabled":
        false, "lending_edition": "", "lending_identifier": "", "authors": [{"key":
        "/authors/OL406949A", "name": "Thomas J. Steele"}, {"key": "/authors/OL407128A",
        "name": "Barbe Awalt"}, {"key": "/authors/OL1240313A", "name": "Paul Fisher
        Rhetts"}], "first_publish_year": null, "ia": null, "public_scan": false, "has_fulltext":
        false, "checked_out": false}, {"key": "/works/OL1439708W", "title": "The revolt
        of modern youth", "edition_count": 3, "cover_id": null, "subject": ["Juvenile
        delinquency", "Sexual ethics", "Denver", "Denver. Juvenile Court of the City
        and County of Denver", "Denver (Colo). Juvenile Court of the City and County
        of Denver", "Denver (Colo)"], "ia_collection": [], "lendinglibrary": false,
        "printdisabled": false, "lending_edition": "", "lending_identifier": "", "authors":
        [[...]
[...]
